# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env

# Database
db.json

# Logs
*.log
npm-debug.log*
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Puppeteer
.local-chromium/
